.link {
    width: 100%;
    margin-bottom: 1rem;
    color:  #919CA9;
    font-size: 3rem;
    text-decoration: none;
    font-family: 'Russo One', sans-serif;
    background: #fff;
    border: 0;
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: -5px -5px 20px #fff, 3px 3px 10px #babecc;
    transition: all .2s ease-in-out;
    &:hover {
        box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
        &.marvel-btn {
            color: #ee171f;
        }
        &.dc-btn {
            color: #0077f2;
        }
        &.fox-btn {
            color: #f6a705;
        }
    }
    &:active {
        box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
    }
    &.active {
        box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
        &.marvel-btn {
            color: #ee171f;
        }
        &.dc-btn {
            color: #0077f2;
        }
        &.fox-btn {
            color: #f6a705;
        }
    }
}

@media (max-width: 450px) {
    .link {
        font-size: 2rem;
    }
}